In [13]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in ./.local/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in ./.local/lib/python3.10/site-packages (from pandas) (2022.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.22.4 in ./.local/lib/python3.10/site-packages (from pandas) (1.26.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [14]:
import pickle

In [15]:
import pandas as pd
from string import ascii_uppercase as alfabeto

In [17]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [18]:
todas_tablas[9]
todas_tablas[16]
todas_tablas[23]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Argentina,3,2,0,1,5,2,+3,6,Advanced to knockout stage
1,2,Poland,3,1,1,1,2,2,0,4,Advanced to knockout stage
2,3,Mexico,3,1,1,1,2,3,−1,4,NaN
3,4,Saudi Arabia,3,1,0,2,3,5,−2,3,NaN

In [19]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_tablas = {}
for letra,i in zip(alfabeto, range(9, 65, 7)):
    print(letra,i)
    df = todas_tablas[i]
    df.rename(columns={'Teamvte': 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_tablas[f'Grupo {letra}'] = df

A 9
B 16
C 23
D 30
E 37
F 44
G 51
H 58

In [20]:
dict_tablas['Grupo A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Netherlands    3  2  1  0   5   1  +4    7
1    2      Senegal    3  2  0  1   5   4  +1    6
2    3      Ecuador    3  1  1  1   4   3  +1    4
3    4    Qatar (H)    3  0  0  3   1   7  −6    0

In [21]:
with open('dict_table','wb') as output: 
    pickle.dump(dict_tablas, output)